<h2>Index Page</h2>

{{#if ts.length}}
<table class="highlight">
    <tr>
        <td>title</td>
        <td>description</td>
        <td>status</td>
        <td>latitude</td>
        <td>longitude</td>
        <td>phonenum</td>
        <td>name</td>
        <td>delete</td>
    </tr>

    {{#each ts}}
        <tr>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>{{status}}</td>
            <td>{{latitude}}</td>
            <td>{{longitude}}</td>
            <td>{{phonenum}}</td>
            <td>{{name}}</td>
            <td>
                <form action="/delete?id={{_id}}" method="post">
                    <button class="btn" type="submit">delete</button>
                </form>
            </td>
        </tr>
    {{/each}}

</table>
    
{{else}}
    <p>nothing</p>
{{/if}}